body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display:inline-block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.hide{
    display:none;
}

li{
    display:inline-block;
    border:solid 1px;
    border-color:black;
    tranistion:ease 1s;
    cursor:pointer;
    padding:1px;
}

li:hover{
    color:#fff;
    background-color:black;
}

.navLink{
    float:right;
    transition:ease 1s;
    display:inline-block;
  
}

.navLink:hover{
    color:#fff;
}

.work{
    max-height:500px;
    max-width:500px;
    display:inline-block;
    text-wrap:avoid;
    overflow:hidden;

}

.div1{
    width:100%
}

#div2, #div3, #div4{
    width:33%;
    border-color:black;
    border:solid;
    border-width:1px;
    display:inline-block;
}



#img1{
    display:inline-block;
    width:45%;
    border:solid;
    border-color:black;
    text-align:center;
}

#img2{
    display:inline-block;
    width:45%;
    border:solid;
    border-color:black;
    text-align:center;
}

#img3{
    display:inline-block;
    width:45%;
    border:solid;
    border-color:black;
    text-align:center;
}

#img4{
    display:inline-block;
    width:45%;
    border:solid;
    border-color:black;
    text-align:center;
}

header{
    width:100%;
}

footer{
    background-color:black;
    font-color:white;
    width:100%;
}