@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="work">
        <div id="img1"><img src="http://tinyurl.com/qeemlqf" />Work Sample 1</div>
        <div id="img2"><img src="http://tinyurl.com/qeemlqf" />Work Sample 2</div>
        <div id="img3"><img src="http://tinyurl.com/qeemlqf" />Work Sample 3</div>
        <div id="img4"><img src="http://tinyurl.com/qeemlqf" />Work Sample 4</div>
    </div>
</div>
