@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="work">
        <div class="work1">
            <img class="img" src="http://tinyurl.com/qeemlqf" />
            <span>Sample 1</span>
        </div>
        <div class="work2">
            <img class="img" src="http://tinyurl.com/qeemlqf" />
            <span>Sample 2</span>
        </div>
        <div class="work3">
            <img class="img" src="http://tinyurl.com/qeemlqf" />
            <span>Sample 3</span>
        </div>
        <div class="work4">
            <img class="img" src="http://tinyurl.com/qeemlqf" />
            <span>Sample 4</span>
        </div>
    </div>
</div>
