@{
    ViewBag.Title = "Index";
}

<h2>About Index</h2>

<div class="tabs-block" id="aboutContainer">
    <nav>
            <ul class="tabset">
                <li class="active"><a data-id="who">
                        Who?
                </a></li>
                <li><a data-id="what">
                        What?
                </a></li>
                <li><a data-id="why">
                        Why?
                </a></li>
                <li><a data-id="how">
                        How?
                </a></li>
                <li><a data-id="where">
                        Where?
                </a></li>
            </ul>
        </nav>
</div>
				<div class="tab-content">
                    <div id="who" class="tab-data">
                        <h2>Who?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas felis eget eros pretium, et bibendum leo congue. Integer consectetur sem vel leo aliquet, quis porta ligula tincidunt. Morbi id lectus sed dui posuere molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consequat hendrerit turpis, sit amet placerat urna viverra at. Integer interdum nec urna sit amet congue. Sed velit lectus, pretium sed bibendum commodo, dictum vel sapien. Mauris ut quam metus. Curabitur justo felis, lacinia aliquet lectus a, lobortis consequat neque. Morbi lacinia, sem sed fringilla porttitor, tortor tellus condimentum sem, et consectetur dui dolor consequat dolor. Nunc et massa eros. Donec facilisis ut velit vitae suscipit. Pellentesque neque justo, ultrices vel consectetur nec, accumsan a elit. Nam venenatis elit ac diam sollicitudin euismod. Curabitur quis lacus eleifend massa porta sagittis sit amet placerat purus. Nullam condimentum ante et ipsum aliquet, vel tempus neque pharetra.</p>
                    </div>
                    <div id="what" class="tab-data hide">
                        <h2>What?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas felis eget eros pretium, et bibendum leo congue. Integer consectetur sem vel leo aliquet, quis porta ligula tincidunt. Morbi id lectus sed dui posuere molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consequat hendrerit turpis, sit amet placerat urna viverra at. Integer interdum nec urna sit amet congue. Sed velit lectus, pretium sed bibendum commodo, dictum vel sapien. Mauris ut quam metus. Curabitur justo felis, lacinia aliquet lectus a, lobortis consequat neque. Morbi lacinia, sem sed fringilla porttitor, tortor tellus condimentum sem, et consectetur dui dolor consequat dolor. Nunc et massa eros. Donec facilisis ut velit vitae suscipit. Pellentesque neque justo, ultrices vel consectetur nec, accumsan a elit. Nam venenatis elit ac diam sollicitudin euismod. Curabitur quis lacus eleifend massa porta sagittis sit amet placerat purus. Nullam condimentum ante et ipsum aliquet, vel tempus neque pharetra.</p>
                    </div>
                    <div id="why" class="tab-data hide">
                        <h2>Why?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas felis eget eros pretium, et bibendum leo congue. Integer consectetur sem vel leo aliquet, quis porta ligula tincidunt. Morbi id lectus sed dui posuere molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consequat hendrerit turpis, sit amet placerat urna viverra at. Integer interdum nec urna sit amet congue. Sed velit lectus, pretium sed bibendum commodo, dictum vel sapien. Mauris ut quam metus. Curabitur justo felis, lacinia aliquet lectus a, lobortis consequat neque. Morbi lacinia, sem sed fringilla porttitor, tortor tellus condimentum sem, et consectetur dui dolor consequat dolor. Nunc et massa eros. Donec facilisis ut velit vitae suscipit. Pellentesque neque justo, ultrices vel consectetur nec, accumsan a elit. Nam venenatis elit ac diam sollicitudin euismod. Curabitur quis lacus eleifend massa porta sagittis sit amet placerat purus. Nullam condimentum ante et ipsum aliquet, vel tempus neque pharetra.</p>
                    </div>
                    <div id="how" class="tab-data hide">
                        <h2>How?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas felis eget eros pretium, et bibendum leo congue. Integer consectetur sem vel leo aliquet, quis porta ligula tincidunt. Morbi id lectus sed dui posuere molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consequat hendrerit turpis, sit amet placerat urna viverra at. Integer interdum nec urna sit amet congue. Sed velit lectus, pretium sed bibendum commodo, dictum vel sapien. Mauris ut quam metus. Curabitur justo felis, lacinia aliquet lectus a, lobortis consequat neque. Morbi lacinia, sem sed fringilla porttitor, tortor tellus condimentum sem, et consectetur dui dolor consequat dolor. Nunc et massa eros. Donec facilisis ut velit vitae suscipit. Pellentesque neque justo, ultrices vel consectetur nec, accumsan a elit. Nam venenatis elit ac diam sollicitudin euismod. Curabitur quis lacus eleifend massa porta sagittis sit amet placerat purus. Nullam condimentum ante et ipsum aliquet, vel tempus neque pharetra.</p>
                    </div>
					<div id="where" class="tab-data hide">
						<h2>Where?</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas felis eget eros pretium, et bibendum leo congue. Integer consectetur sem vel leo aliquet, quis porta ligula tincidunt. Morbi id lectus sed dui posuere molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum consequat hendrerit turpis, sit amet placerat urna viverra at. Integer interdum nec urna sit amet congue. Sed velit lectus, pretium sed bibendum commodo, dictum vel sapien. Mauris ut quam metus. Curabitur justo felis, lacinia aliquet lectus a, lobortis consequat neque. Morbi lacinia, sem sed fringilla porttitor, tortor tellus condimentum sem, et consectetur dui dolor consequat dolor. Nunc et massa eros. Donec facilisis ut velit vitae suscipit. Pellentesque neque justo, ultrices vel consectetur nec, accumsan a elit. Nam venenatis elit ac diam sollicitudin euismod. Curabitur quis lacus eleifend massa porta sagittis sit amet placerat purus. Nullam condimentum ante et ipsum aliquet, vel tempus neque pharetra.</p>
					</div>
				</div>